    .page-title {
        display: block !important;
        text-align: left;
        font-size: 7rem;
        margin-top: 20px;
        font-style: italic;
        color: purple;
        
    }
    
    .form-container {
        width: 500px;
        margin: auto;
        color: aqua;
    }
    
    .ui.teal.button:focus,
    .ui.teal.buttons .button:focus {
        background-color:blueviolet;
    }