    .page-title {
        display: block !important;
        text-align: left;
        font-size: 5rem;
        margin-top: 10px;
        font-style: italic;
        color: rgb(218, 93, 218);
        
    }
    
    .form-container {
        width: 400px;
        margin: auto;
        color: aqua;
    }
    
    .ui.teal.button:focus,
    .ui.teal.buttons .button:focus {
        background-color:blueviolet;
    }